#ProfileCard{
    display: grid;
    justify-self: center;
    border-style: inherit;
    border-color: beige;
    margin: 5em;
    /* padding: 2em; */
    box-shadow: inset;
    background: lightcyan;
    
}
#ProfileCard:hover{
    background: lightblue;
    color: brown;
}
#ProfileCard h3{
    font-weight: bold;
}
#ProfileCard p{
    color: gray;
}
#ProfileCard img{
    height: 10em;
    width: 200px;
    border-radius: 50%;
}
#info{
    justify-self: center;
}
img:hover{
    border-style: dashed;
    border-color: blue;
}