#ProfileCard{
    display: grid;
    justify-self: center;
    border-style: inherit;
    border-color: beige;
    margin: 10em;
    /* padding: 20em; */
    box-shadow: inset;
    background: lightcyan;
}
#ProfileCard h3{
    font-weight: bold;
}
#ProfileCard p{
    color: gray;
}
#ProfileCard img{
    height: 10em;
    width: 200px;
    border-radius: 50%;
}